<% rating_threshold = 7.5
metascore_threshold = 70 %>
<h2>Apple Trailers Companion</h2>
A blue border means better ratings or reviews.<br><br>
<table><tr><th>Front Page</th><th>Panel 2</th><th>Panel 3</th><th>Panel 4</th></tr><tr>
<td>
<% Movie.where(order: 0..29).each do |record| %>
  <% if record.imdb_rating != -2 %>
  	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		<div class="good">
  	<% end %> 
	<%= record.title %><br>
	  IMDB: <%= record.imdb_rating %><br>
	  Metacritic: <%= record.metascore %><br><br>
	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		</div>
  	<% end %> 
  <% end %>
<% end %></td>
<td>
<% Movie.where(order: 30..59).each do |record| %>
  <% if record.imdb_rating != -2 %>
  	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		<div class="good">
  	<% end %> 
	<%= record.title %><br>
	  IMDB: <%= record.imdb_rating %><br>
	  Metacritic: <%= record.metascore %><br><br>
	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		</div>
  	<% end %> 
  <% end %>
<% end %></td>
<td>
<% Movie.where(order: 60..89).each do |record| %>
  <% if record.imdb_rating != -2 %>
  	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		<div class="good">
  	<% end %> 
	<%= record.title %><br>
	  IMDB: <%= record.imdb_rating %><br>
	  Metacritic: <%= record.metascore %><br><br>
	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		</div>
  	<% end %> 
  <% end %>
<% end %></td>
<td>
<% Movie.where(order: 90..119).each do |record| %>
  <% if record.imdb_rating != -2 %>
  	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		<div class="good">
  	<% end %> 
	<%= record.title %><br>
	  IMDB: <%= record.imdb_rating %><br>
	  Metacritic: <%= record.metascore %><br><br>
	<% if record.imdb_rating >= rating_threshold or record.metascore >= 70 %>
  		</div>
  	<% end %> 
  <% end %>
<% end %></td>
</tr></table>
<small><br>Movies are only listed when info exists. Many movies are upcoming so there is no info yet.
<br>The OMDB feed is also missing many films. In a future update to this site, a better source may be used.</small>
